{% extends "portfolio/layout.html" %}

{% load static %}

{% block body_class %}homepage{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column" tabindex="-1">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="{% static 'assets/img/avatar.jpg' %}" alt="..." />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Saliou Ndong</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                Computer learner
                <img src="{% static 'assets/img/img_projects/avatar.png' %}" style="display: inline; margin-bottom: 22px; height: 35px;" alt="..." />
            </p>
        </div>
    </header>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <a href="{% url 'soccer_2023' %}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-eye fa-3x"></i>
                                    <p>Soccer 2023</p>
                                </div>
                            </div>
                            <img class="img-fluid w-100 h-100 object-fit-cover" src="{% static 'assets/img/img_projects/ballon.png' %}" alt="...">
                        </a>
                    </div> 
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <a href="{% url 'roboGenius' %}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-eye fa-3x"></i>
                                    <p>RoboGenius</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/img_projects/robot.png' %}" alt="..." />
                        </a>
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <a href="{% url 'projectC' %}">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/img_projects/circus.png' %}" alt="..." />
                        </a>
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/game.png" alt="..." />
                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/safe.png" alt="..." />
                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/submarine.png" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-12">
                    <p class="fs-4 text-center">
                        <strong class="highlight-text">I AM SALIOU NDONG AND I AM PASSIONATE ABOUT COMPUTERS AND TECHNOLOGY.</strong><br><br>
                    </p>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-4 mx-auto">
                        <div class="text-justify">
                            <p class="fs-4">
                                I am a young person passionate about technology and the many possibilities it offers. 
                                I am curious and I never stop learning more to solidify my already acquired knowledge, but also to gain new ones.
                            </p>
                        </div>
                    </div>                    
                
                    <div class="col-lg-4 mx-auto">
                        <div class="text-justify">
                            <p class="fs-4">
                                I am also very interested in everything related to data, namely databases or the management of these. 
                                I would like to learn more about this topic, do a lot of projects with the aim of exploring and digging deeper.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
