{% extends "portfolio/layout.html" %}

{% load static %}

{% block body_class %}page-with-navbar{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 100px; margin-top: -50px;">
        <div class="row">
            <div class="col-sm12">
                <h3>MaterialManage</h3>
                <hr>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-4 order-1 order-md-2 mt-3 mt-sm-0">
                <div class="card shadow-sm mb-sm-5">
                    <div class="card-body">
                        <div class="fs-5">
                            <img class="img-fluid img-centered" src="{% static 'assets/img/img_projects/img emprunt.jpeg' %}" alt="...">
                            <p class="card-text"><strong>Date:</strong> December 2023</p>
                            <p class="card-text"><strong>Technologies used:</strong> JS, React, JSX, Expo Go </p>
                            <a href="https://bitbucket.org/dev-mobile23/empruntdemateriel/src/master/" target="_blank" class="text-decoration-none">Source code</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 order-2 order-md-1 text-justify">
                <p class="fs-4">
                    Complete mobile application for equipment borrowing management.
                </p><br>
                <h3>Concept</h3>
                <p class="fs-4">
                    It was as part an academic project and I had to carry out a concrete mobile application
                    development project. The application is <b>CRUDL</b> type and I did: 
                    <ul class="fs-4">
                        <li>Design (data model, user interfaces, architecture)</li>
                        <li>Programming (logic, user interfaces, database)</li>
                        <li>Documentation</li>
                    </ul>
                </p>
                <p class="fs-4">
                    I played with the authentification as can be seen with the image next to it.
                    And for each entity that I had to do, I implemented the creation of the entity,
                    the modification, the reading as well as its deletion from the list and the
                    database hence the CRUDL type.
                </p><br>
                <h3>Learning</h3>
                <p class="fs-4">
                    J'ai eu à apprendre <a class="text-decoration-none" target="_blank" href="https://reactnative.dev/">React Native</a>
                    qui est un framework d'applications mobiles open source créé par <b>Facebook</b>. Pour ma passerelle native, j'ai utilisé
                    <a href="https://expo.dev/" class="text-decoration-none" target="_blank">Expo</a>
                    et l'application mobile <b>Expo Go</b> pour tester mon code sur mon appareil.
                </p><br>
            </div>
        </div>
    </div>
{% endblock %}
