{% extends "portfolio/layout.html" %}

{% load static %}

{% block body_class %}page-with-navbar{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 100px; margin-top: -50px;">
        <div class="row">
            <div class="col-sm-12">
                <h3>Meteo</h3>
                <hr>
            </div>   
        </div><br>

        <div class="row mb-3">
            <div class="col-sm-8">
                <p class="fs-4">Desktop application that allows users to add and remove regions through an API</p>
                <div><br></div>
                <h3>Learning</h3>
                <p class="fs-4">
                    As mentioned above, I implemented a CRUDL application of regions with longitude and latitude. However, I learned to use 
                    <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank" class="text-decoration-none">ASP.NET</a> 
                    which is a framework for building web applications and services with .NET and C#. 
                    I also learned to use <a href="https://docs.microsoft.com/en-us/ef/core/" target="_blank" class="text-decoration-none">EF Core</a> 
                    which is an object-relational mapper (ORM) that enables .NET developers to work with a database using .NET objects.
                </p>
                <br>
                <p class="fs-4">
                    I also covered other topics like internationalization and .NET application deployment
                </p>
            </div>
            <div class="col-sm-4 mt-3 mt-sm-0">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="fs-4">
                            <p class="card-text"><strong>Date:</strong> November 2023</p>
                            <p class="card-text"><strong>Technologies used: </strong>C#, EF Core, API, Autofac</p>
                            <a href="https://github.com/salioundong/Meteo" target="_blank" class="text-decoration-none">Source code</a>
                        </div>
                    </div>
                </div>
            </div>     
        </div>   
    </div>
{% endblock %}
