{% extends "portfolio/layout.html" %}

{% load static %}

{% block body_class %}page-with-navbar{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 100px; margin-top: -50px;">
        <div class="row">
            <div class="col-sm-12">
                <h3>RoboGenius</h3>
                <hr>
            </div>
        </div>

        <div class="row-mb-3">
            <div class="col-sm-8">
                
            </div>
        </div>
    </div>
{% endblock %}
